* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-dark-gray-blue: #48556a;
  --clr-desaturated-blue: hsl(214, 17%, 51%);
  --clr-grayish-blue: hsl(212, 23%, 69%);
  --clr-light-gray-blue: hsl(210, 46%, 95%);
  --clr-light-gray: #ecf2fb;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: Manrope, sans-serif;
  background-color: var(--clr-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 73rem;
  display: flex;
  border-radius: 10px;
  background-color: var(--clr-light-gray-blue);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  position: relative;
}

.image-box {
  max-width: 28.5rem;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.text-content {
  display: flex;
  flex-direction: column;
  margin: 3rem 4rem;
}

.title {
  color: var(--clr-dark-gray-blue);
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: 1.2px;
}

.text {
  color: var(--clr-desaturated-blue);
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: 1.2px;
}

.title,
.text {
  margin-block-end: 2.4rem;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.profile {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.name,
.date {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1.1px;
  color: var(--clr-dark-gray-blue);
}

.date {
  color: var(--clr-grayish-blue);
}

.share-btn {
  padding: 0.8rem;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: var(--clr-light-gray-blue);
  cursor: pointer;
  transition: all 0.4s ease;
}

.share-btn:hover {
  background-color: var(--clr-grayish-blue);
}

.share-btn.active {
  background-color: var(--clr-grayish-blue);
}

.share-btn.active img {
  filter: brightness(0) invert(1);
}

.share-toast {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  background-color: var(--clr-dark-gray-blue);
  border-radius: 0.8rem;
  padding: 1.8rem 3.8rem;
  top: 45%;
  right: -9%;
}

.hidden {
  display: none;
}

.share-toast::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: var(--clr-dark-gray-blue) transparent transparent transparent;
}

.share {
  color: var(--clr-light-gray-blue);
  font-size: 1.3rem;
  letter-spacing: 6px;
  line-height: 1.4;
}

/* ========================================= */

@media (max-width: 768px) {
  .container {
    max-width: 60.8rem;
  }

  .image-box {
    min-width: 22.9rem;
  }

  .text-content {
    margin: 4rem 3.6rem;
  }

  .share-toast {
    top: 52.5%;
    right: -12%;
  }
}

@media (max-width: 530px) {
  .container {
    max-width: 37.5rem;
    flex-direction: column;
  }

  .image-box {
    min-width: 100%;
  }

  .image-box img {
    min-width: 100%;
    max-height: 20rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  .text-content {
    margin: 3.2rem 3rem 1.8rem 3.6rem;
  }

  .button-container {
    margin-block-start: 1.2rem;
  }

  .share-btn {
    z-index: 999;
  }
  .share-toast {
    width: 100%;
    min-height: 7.6rem;

    top: 100%;
    right: 0;
    transform: translateY(-100%);

    justify-content: start;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .share-toast::after {
    border-color: transparent transparent transparent transparent;
  }
}
